{{ define "body-class" }}template-archives{{ end }}
{{ define "main" }}
<header>
    {{- $taxonomy := $.Site.GetPage "taxonomyTerm" "categories" -}}
    {{- $terms := $taxonomy.Pages -}}
    {{ if $terms }}
    <h2 class="section-title">{{ $taxonomy.Title }}</h2>
    <div class="subsection-list">
        <div class="article-list--tile">
            {{ range $terms }}
            {{ partial "article-list/tile" (dict "context" . "size" "250x150" "Type" "taxonomy") }}
            {{ end }}
        </div>
    </div>
    {{ end }}
</header>

{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
{{ $notHidden := where .Site.RegularPages "Params.hidden" "!=" true }}
{{ $filtered := ($pages | intersect $notHidden) }}

{{ range $filtered.GroupByDate "2006" }}
{{ $id := lower (replace .Key " " "-") }}
<div class="archives-group" id="{{ $id }}">
    <h2 class="archives-date section-title"><a href="{{ $.RelPermalink }}#{{ $id }}">{{ .Key }}</a></h2>
    <div class="article-list--compact">
        <script async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7416572564791547"
            crossorigin="anonymous"></script>
        <ins class="adsbygoogle" style="display:block" data-ad-format="fluid" data-ad-layout-key="-hz+7-n-2v+7i"
            data-ad-client="ca-pub-7416572564791547" data-ad-slot="4375293193"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        {{ range .Pages }}
        {{ partial "article-list/compact" . }}
        {{ end }}
    </div>
</div>
{{ end }}

{{ partialCached "footer/footer" . }}
{{ end }}