<link rel="icon" type="image/png" href="/favicon.png">
<style>
    @font-face {
        font-family: "Hauora";
        src: url("fonts/Hauora-Regular.ttf") format("truetype");
        font-weight: 400;
        font-style: normal;
    }

    @font-face {
        font-family: "Hauora";
        src: url("fonts/Hauora-Bold.ttf") format("truetype");
        font-weight: 700;
    }

    @font-face {
        font-family: "Hauora";
        src: url("fonts/Hauora-ExtraBold.ttf") format("truetype");
        font-weight: 900;
    }

    @font-face {
        font-family: "Hauora";
        src: url("fonts/Hauora-SemiBold.ttf") format("truetype");
        font-weight: 600;
    }
</style>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-C6M26D3X85"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-C6M26D3X85');
</script>