<style>
    @font-face {
        font-family: "Hauora";
        src: url("fonts/Hauora-Regular.ttf") format("truetype");
        font-weight: 400;
        font-style: normal;
    }

    @font-face {
        font-family: "Hauora";
        src: url("fonts/Hauora-Bold.ttf") format("truetype");
        font-weight: 700;
    }

    @font-face {
        font-family: "Hauora";
        src: url("fonts/Hauora-ExtraBold.ttf") format("truetype");
        font-weight: 900;
    }

    @font-face {
        font-family: "Hauora";
        src: url("fonts/Hauora-SemiBold.ttf") format("truetype");
        font-weight: 600;
    }
</style>